{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <title>
        {{ recipe_object.title }}
        - Scrumptious Recipes
    </title>
</head>
<body>
    <header>
        <nav>
            <a id="main" href="{% url 'recipe_list' %}">Main page</a>
        </nav>
      </header>
      <main>
        <h1>Edit {{ post_object.title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button>Save</button>
        </form>
      </main>
      <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>
