{% extends 'base.html' %}
{% block title %}
    Scrumptios recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
      <a class="main" href="{% url 'recipe_list' %}">Main page</a>
      <a class="main" href="{% url 'my_recipe_list' %}">My recipes</a>
      {% if user.is_authenticated %}
      <a class="main" href="{% url 'create_recipe' %}">Create a recipe</a>
      Hello, {{ user.username }}
      <a class="main" id = "logout" href="{% url 'logout_user' %}">Logout</a>
      {% else %}
        <a class="main" href="{% url 'signup' %}">Sign up</a>
        <a class="main" href="{% url 'user_login' %}">Login</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <h1 class="h">Scrumptious Recipes</h1>
    <h2 class="h">All the food thats fit to eat</h2>
    <div id="tacos">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <div class="my_img"><img class="my_img" src="{{ recipe.picture|default:"https://via.placeholder.com/150" }}"></div>
            <p>{{ recipe.created_on|date:"M Y" }}</p>
            <div>4.3 stars</div>
        </div>
        {% empty %}
        <p>There are no recipes</p>
        {% endfor %}
    </div>

  </main>
{% endblock content %}
