@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#tacos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}

main {
    padding: 16px;
    margin-bottom: auto;
    background-color: rgb(246, 246, 245);
}

header {
    background-color: #F8481C;
    box-shadow: 0 10px 20px rgba(28,24,24,0.89);
}

.h {
    text-align: center;
}

footer {
    padding: 24px;
    position: relative;
    bottom: 0px;
    background-color: #99cc66;
    box-shadow: 0 10px 20px rgba(28,24,24,0.89);
}

.my_img {
    height: 200px;
    box-shadow: 0 10px 20px rgba(28,24,24,0.89);
    position: relative;
    width:250px;
    height:250px;
    object-fit: cover;
}

nav {
    padding: 16px;
    padding-right: 4em;
    color: white;
}
.main {
    color: white;
    font-weight: bold;
    font-size: large;

#logout {
    overflow: hidden;
    position: absolute;
    right:2%;
}

a:hover {
    color: #90EE90;
}

a {
  text-decoration: none;
  color:#006400;
}

h1 {
    color: #047c66;
}

tr:nth-child(even) {
    background-color: lightgray;
}

@media (max-width: 1200px) {
    #tacos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    #tacos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #tacos {
        grid-template-columns: repeat(1, 1fr);
    }
}
